#learn{
    margin-left: 200px;
}

#javaPhoto, #cPhoto{
    height:40px;
}

#dropDownPrac{
    margin-right: 22px;
}

#dropDownLang{
    height: 34px;
    margin-left: 125px;
    width: 170px;  
}

#dropdown-menuLang{
    margin-left: 125px;
}

